body{
  background-color: rgb(38, 57, 94)!important;
}

#nav_prueba{
  background-color: rgb(38, 57, 94)!important;
  position: sticky!important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.texto_nav{
  color : white!important;
  position: sticky!important;
}

#nav_prueba .navbar-nav .nav-link {
  font-family: "Aboreto", system-ui;
  color: white; /* Cambia el color del texto a blanco */
  font-size: 1.5rem;

}

#nav_prueba .navbar-brand {
  font-family: "Aboreto", system-ui;
  color: white; /* Cambia el color del texto a blanco */
  font-size: 1.5rem;
}

.menu-icono {
  width: 80px; 
  height: auto;
  margin-right: 10px; 
}

/* termino la nav */

.parrafo-bienvenida {
  background-image: url(./imagenes/SKYYY.png); 
  background-size: cover; 
  background-position: center center;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

#titulo1 {
  font-family: "Aboreto", system-ui;
  font-weight: 1000;
  font-style: normal;
  color:white;
  font-size: 50px;
  text-align: center;
  font-size: 75px;
}

  

.Info-articulos {
  text-align: center; 
}

.Info-articulos h2 {
  color: #333; 
  font-size: 24px; 
}

.Info-articulos .Texto-parrafo1 {
  color: #fff; 
  padding: 20px; 
  border-radius: 10px; 
}

.contenedor-boton {
  display: flex;
  justify-content: center;
}

.boton {
  /* Ajusta la altura y el ancho del contenedor del botón */
  height: 100px; /* Ajusta la altura según lo necesites */
  width: 200px; /* Ajusta el ancho según lo necesites */
}

.boton button {
  background-color: yellow;
  font-family:"Exo", sans-serif ;
  height: 80%; /* Toma toda la altura del contenedor */
  width: 100%; /* Toma todo el ancho del contenedor */
  font-size: 35px; /* Ajusta el tamaño del texto */
  border-radius: 25px; /* Define las esquinas redondeadas */
}


.tres-opciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0px; 
  width:100%;
}

.tres-opciones h3 {
  padding: 100px;
  text-align: center;
  background-color: #f0f0f0;
  border: 5px solid rgb(38, 57, 94);
  border-radius: 25px; /* Define las esquinas redondeadas */
}

.tres-opciones a {
  text-decoration: none; 
  color: inherit; 
}

.tres-opciones a:hover {
  color:black; 
}


.actual{
  color: white;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 40px;
  background-image: url(./imagenes/mitoma.jpg);
  background-size: cover;
}

.retro{
  color: white;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 40px;
  background-image: url(./imagenes/beckham.jpg);
  background-size: cover;
}

.streetwear{
  color: white;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 40px;
  background-image: url(./imagenes/colepalmer.jpeg);
  background-size: cover;
}

.contenido-servicio{
  font-family: "Aboreto", system-ui;
  font-weight: 1000;
  font-style: normal;
  text-align: center;
}
.contenido-servicio h2{
  font-size: 55px;
  line-height: 70px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 50px;

}

.contenido-servicio p{
  font-size: 22px;
  color: white;
  margin-bottom: 50px;
  padding: 0 100px;
}

.servicio-grupo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.servicio-1{
  padding: 0 100px;
}

.servicio-1 img{
  width: 170px;
  margin-bottom: 15px;
}

.servicio-1 h3{
  color: white;
  font-size: 25px;
}

.servicio-2{
  padding: 0 100px;
}

.servicio-2 img{
  width: 170px;
  margin-bottom: 15px;
}

.servicio-2 h3{
  color: white;
  font-size: 25px;
}

.servicio-3{
  padding: 0 100px;
}

.servicio-3 img{
  width: 170px;
  margin-bottom: 15px;
}

.servicio-3 h3{
  color: white;
  font-size: 25px;
}


.contenido-footer{
  background-color: black;
  display: flex;
  justify-content: space-around;
  
}

.footer-titulo h5{
  font-family: "Aboreto", system-ui;
  font-size: 20px;
  font-weight: 1000;
  font-style: normal;
}

.footer-titulo a{
  color:white;
  text-decoration: none;
}

.footer-titulo a:hover{
  color:purple;
}

.productos h2{
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Aboreto", system-ui;
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  #nav_prueba .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  #nav_prueba .navbar-brand {
    font-size: 1rem;
  }

  .tres-opciones{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    justify-content: center;
       
  }
  .tres-opciones h3 {
      text-align: center;   
      margin-bottom: 0px;
  }
  .servicio-grupo{
    flex-direction: column; 
    align-items: center; 
  }
  .header {
    grid-template-columns: 1fr; 
    padding: 10px;
    margin-bottom: 0px;
  }

  .contenedor-menu {
    flex-direction: column; 
    align-items: center; 
  }
  

  .menu-icono {
    margin-right: 0; 
    margin-bottom: 0px; 
    
  }

  .Lista ul {
    font-size: 22px;
  }

  .Lista ul li {
    margin-right: 0; 
    margin-bottom: 0px;
    padding: 10px;
  }
  #titulo1{
    font-size: 35px;
    width: 100%;
  }
  .contenido-servicio h2{
    font-size: 45px;
  }

  .parrafo-bienvenida {
    width: 100%;
  }
  .titulo-1{
    display: flex;
    justify-content: center center;
    max-width: 100%;
  }

  .actual, .retro, .streetwear {
      font-size: 20px; 
    }

  .contenido-servicio h2{
    font-size: 30px;
  }
  #titulo{
    font-size: 25px;
    text-align: center;
  }
  .contenido-servicio{
    width: 100%;
    
  }
  .productos h2{
    font-size: 40px;
  }
}
  





