body{
  background-color: rgb(38, 57, 94)!important;
}

#nav_prueba{
  background-color: rgb(38, 57, 94)!important;
  position: sticky!important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.texto_nav{
  color : white!important;
  position: sticky!important;
}

#nav_prueba .navbar-nav .nav-link {
  color: white; /* Cambia el color del texto a blanco */
  font-size: 1.5rem;
  font-family: "Aboreto", system-ui;
}

#nav_prueba .navbar-brand {
  color: white; /* Cambia el color del texto a blanco */
  font-size: 1.5rem;
  font-family: "Aboreto", system-ui;
}

.menu-icono {
  width: 80px; 
  height: auto;
  margin-right: 10px; 
}

/* HEADER */

.titulotyc{
  text-align: center;
}

.contenedortyc{
  font-family: "Aboreto", system-ui;
  font-weight: 600;
  font-style: normal;
  color:aliceblue
}

.titulotyc{
  font-size:40px;
}

@media only screen and (max-width: 600px) {
  #nav_prueba .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  #nav_prueba .navbar-brand {
    font-size: 1rem;
  }

  .header {
    grid-template-columns: 1fr; 
    padding: 10px; 
  }

  .contenedor-menu {
    flex-direction: column; 
    align-items: center; 
  }

  .menu-icono {
    margin-right: 0; 
    margin-bottom: 10px; 
  }

  .Lista ul {
    font-size: 22px;
  }

  .Lista ul li {
    margin-right: 0; 
    margin-bottom: 20px;
    padding: 20px;
  }
  #titulo1{
    font-size: 50px;
  }
  .contenido-servicio h2{
    font-size: 45px;
  }
  #titulo{
    font-size: 25px;
    text-align: center;
  }
}
  